<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiveSDK" version="5.6.2" targetFramework="wp81" />
  <package id="NotificationsExtensions.Portable" version="1.0.3" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2012.10.30" requireReinstallation="True" />
</packages>